alias ll=extended_list_directory
alias cd.="cd .."
alias cd..="cd .."
alias sb="/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl"
# To switch to required Xcode run: $ sudo xcode-select --switch /Applications/Xcode.app/Contents/Developer/
alias xcode="open -a Xcode"
alias time="time_info"
alias help="man"
alias search="search_all"
alias di="disk_info"
alias weather="weather"