[user]
    name = Maxim Makhun
    email = maxim.makhun@gmail.com
[core]
    excludesfile = ~/.gitignore_global
[commit]
    template = ~/.gitcommit_template
[init]
    defaultBranch = main
[color]
    ui = auto
[alias]
    whoami = config user.email
    aliases = config --get-regexp alias
