[user]
    name = Maxim Makhun
    email = maxim.makhun@gmail.com
[core]
    excludesfile = ~/.gitignore_global
[commit]
    template = ~/.gitcommit_template
[init]
    defaultBranch = main
[color]
    ui = auto
[color "status"]
    # Available colors: 
    # - normal
    # - black
    # - red
    # - green
    # - yellow
    # - blue
    # - magenta
    # - cyan
    # - white
    added = green
    changed = yellow
    untracked = red
[alias]
    whoami = config user.email
    aliases = config --get-regexp alias
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
